//Material design color scheme

$blue: #0D47A1;

$black-primary: rgba(0,0,0,0.87);
$black-secondary: rgba(0,0,0,0.54);
$black-hint: rgba(0,0,0,0.26);
$black-divider: rgba(0,0,0,0.12);

$white: #ffffff;