@import 'dimension';
@import 'font';

#cv {
    padding: 0;
}

//Force left column
h2 {
    float: left;
}
.item {
    margin-left: 2 * $print-margin;
}

//Add this class to an `a` element 
//to show link URLs when printing.
//The link shown is the value of 
//the data-link attribute.
.print-link {
    &:after {
        content: " (" attr(data-link) ") ";
        font-size: $font-size-small;
        margin-left: $space / 4;
    }
}
