//See css-tricks.com/snippets/css/using-font-face/

@font-face {
    font-family: Franklin;
    src: url('/static/fonts/franklin-book.eot');
    src: url('/static/fonts/franklin-book.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/franklin-book.woff') format('woff'),
         url('/static/fonts/franklin-book.ttf')  format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Franklin;
    src: url('/static/fonts/franklin-book-italic.eot');
    src: url('/static/fonts/franklin-book-italic.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/franklin-book-italic.woff') format('woff'),
         url('/static/fonts/franklin-book-italic.ttf')  format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: Franklin;
    src: url('/static/fonts/franklin-medium.eot');
    src: url('/static/fonts/franklin-medium.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/franklin-medium.woff') format('woff'),
         url('/static/fonts/franklin-medium.ttf')  format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Franklin;
    src: url('/static/fonts/franklin-medium-italic.eot');
    src: url('/static/fonts/franklin-medium-italic.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/franklin-medium-italic.woff') format('woff'),
         url('/static/fonts/franklin-medium-italic.ttf')  format('truetype');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: Franklin-Condensed;
    src: url('/static/fonts/franklin-book-condensed.eot');
    src: url('/static/fonts/franklin-book-condensed.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/franklin-book-condensed.woff') format('woff'),
         url('/static/fonts/franklin-book-condensed.ttf')  format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Franklin-Condensed;
    src: url('/static/fonts/franklin-medium-condensed.eot');
    src: url('/static/fonts/franklin-medium-condensed.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/franklin-medium-condensed.woff') format('woff'),
         url('/static/fonts/franklin-medium-condensed.ttf')  format('truetype');
    font-style: normal;
    font-weight: 500;
}

